<h1>Add A New Movie</h1>

<form action="/add_movie">
  <div>
    <label>Title:</label>
    <input type="text" name="movie_title" value="">
  </div>
  <div>
    <label>Year</label>
    <input type="integer" name="movie_year" value="">
  </div>
  <div>
    <label>Duration</label>
    <input type="integer" name="movie_duration" value="">
  </div>
  <div>
    <label>Synopsis</label>
    <input type="text" name="movie_description" value="">
  </div>
  <div>
    <label>image_url</label>
    <input type="text" name="movie_image_url" value="">
  </div>
  <div class="">
    <button>Add Movie</button>
  </div>
</form>

<a href="/movies">Cancel</a>
